$font: "Roboto", sans-serif;
$font_child: 'Source Sans Pro', sans-serif;
$text-color: #121212;
$text-menu: #E6E6E6;
$text-title: #121212;
$heading-color: #095AAA;
$primary-color: #147ADE;
$text-blog: #454545;